Source: polycom-ucs
Section: comm
Priority: optional
Maintainer: Paul Belanger <paul.belanger@polybeacon.com>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.3
Homepage: http://www.polycom.com/
Vcs-Git: git://github.com/kickstandproject/polycom-ucs.git
Vcs-Browser: https://github.com/kickstandproject/polycom-ucs

Package: polycom-ucs
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
