Source: polycom-ucs
Section: comm
Priority: optional
Maintainer: Paul Belanger <paul.belanger@polybeacon.com>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.3
Homepage: <insert the upstream URL, if relevant>

Package: polycom-ucs
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>

Package: polycom-ucs-doc
Architecture: all
Description: documentation for polycom-ucs
 <insert long description, indented with spaces>
